<h1>Editing Local</h1>

<%= render 'form', local: @local %>

<%= link_to 'Show', @local, :class => 'uk-button uk-button-text' %> |
<%= link_to 'Volver', locals_path, :class => 'uk-button uk-button-text'%>
