<h1>Editar Local</h1>

<%= render 'form', local: @local %><br />

<%= link_to 'Detalles', @local, :class => 'uk-button uk-button-text' %> |
<%= link_to 'Volver', locals_path, :class => 'uk-button uk-button-text'%>
