<p id="notice"><%= notice %></p>

<h1>Mis Likes</h1>

<table>
  <thead>
    <tr>
      <th>Matcher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_matcher.matcher1_likes.each do |like| %>
      <tr>
        <td><%= like.matcher2.nombre %></td>
        <td><%= link_to 'Dislike', like, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
