<h1>Mis Likes</h1>

<table>
  <thead>

  </thead>

  <tbody>
    <% current_matcher.matcher1_likes.each do |like| %>
      <tr>
        <td><span uk-icon="icon: heart"></span>&nbsp;&nbsp;<%= link_to like.matcher2.nombre, matcher_path(id: like.matcher2.id), :class => 'uk-button uk-button-text' %></td>
        <td>&nbsp;&nbsp;<%= link_to 'Dislike', like,:class => 'uk-button uk-button-text', method: :delete, data: { confirm: 'Seguro?' } %><span uk-icon="icon: close"></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
