<p>
  <strong>Matcher 1:</strong>
  <%= @like.matcher1.nombre %>
</p>

<p>
  <strong>Matcher 2:</strong>
  <%= @like.matcher2.nombre %>
</p>



<%= link_to 'Editar', edit_like_path(@like), :class => 'uk-button uk-button-text' %> |
<%= link_to 'Volver', likes_path, :class => 'uk-button uk-button-text' %>
