<h1>Editing Comuna</h1>

<%= render 'form', comuna: @comuna %>
<br />
<%= link_to 'Detalles', @comuna, :class => 'uk-button uk-button-text'%> |
<%= link_to 'Volver', comunas_path, :class => 'uk-button uk-button-text' %>
