<div id="big-box-local" class="box-shadow">
<div class=></div>
<div class="big-box-content">
	<p>
  <strong>Matcher1:</strong>
  <%= @match.matcher1.nombre %>
</p>

<p>
  <strong>Matcher2:</strong>
  <%= @match.matcher2.nombre %>
</p>

<p>
	<% if @match.meeting %>
		<%= @meeting.local.nombre %>
	<% else %>
	  <strong>¿Quieres crear una cita?</strong>
	  	<%= render "meetings/form" %>
	<% end %>
</p>
</div>
</div>


<div class="box-spotify">
</div>
	
