/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


 @font-face {
  font-family: 'AkzidenzEx';
  src: url(font-path('AkzidenzEx.otf'))
}
@font-face {
  font-family: 'ChaletNY';
  src: url(font-path('ChaletNY.ttf'))
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  body, html {
    height: 100%;
    background-color: #F4F4F8;
    margin:0;
    padding: 0;
  }
  
  .bg { 
    /* The image used 
    /* background-image: image-url("home.jpeg");*/
    //background-image: image-url("home2.png");
  
    /* Full height */
    height: 100%; 
    position: relative;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #container-signup {
    
    //color: #F4F4F8;
    padding: 15px 25px;
    width: 100%;
    max-width: 50%;
    max-height: 50%;    
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;top: 50%;
  }
  #container-signup h3 {
    font-size: 10vh;
    color:#FE4A49;
    font-family: 'AkzidenzEx';
  }
#container-signup {
    font-size: 3vh;
    color:#191919;
    font-family: 'AkzidenzEx';
  }

#name_app {
  position: absolute;
  left: 5%;top: 4%;
  font-family: 'ChaletNY';

}
#name_app h2 {
  color:#191919;
  //display: block;
  font-size: 2em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
