<h2>Editing Category</h2>

<%= render 'form', category: @category %>

<br />
<%= link_to 'Detalles', @category, class: 'uk-button uk-button-text'%> |
<%= link_to 'Atras', categories_path, class: 'uk-button uk-button-text' %>
