<p>
  <strong>Nombre:</strong>
  <%= @category.nombre %>
</p>

<p>
  <strong>Gustos:</strong>
  <% @category.gustos.each do |gusto| %>
  	<li><%= gusto.titulo %></li>
  <% end %>
</p>

<%= link_to 'Editar', edit_category_path(@category), class: 'uk-button uk-button-primary' %>
<%= link_to 'Atras', categories_path, class: 'uk-button uk-button-primary' %>
